# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# npm
node_modules/
bower_components/
*.log
*.gz

# VCS
.git
.svn

# test
coverage/

# source
demo
lib
